__pycache__
_demo
_notebooks/
_scripts/
.htpasswd
.ipynb_checkpoints
.projectignore
.testoutput/
*_files/
*.bundle.*
*.egg-info/
*.html
*.log
*.tar.gz
anaconda-project.yml
demo/
envs/
htpasswd
lib/
node_modules/
Untitled*.ipynb
