.jp-Launcher-cardContainer .jp-LauncherCard[title$=" — Jyve"][title^="JS"] {
  background-image: none;
}

.jp-Launcher-cardContainer .jp-LauncherCard[title$=" — Jyve"][title^="JS"]  .jp-LauncherCard-noKernelIcon {
  background-image: url("./js.svg");
}
